html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tempHide{
    display: none;
    top: 300px;
}

body {
    background: #ffffff url('../Image/A.png'); 
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .block {
    text-align: center;
    padding: 35px;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .block.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .block.show {
    font-size: 33px;
}

.deck .matching.block {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}


.my panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}
.alert {
    font-size: 60px;
    padding: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.my timer{
    margin-left: 50px;
}
.danger{
    background: red;
}


.my panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.my panel .stars li {
    list-style: none;
    display: inline-block;
}

.my panel .repeat {
    float: right;
    cursor: pointer;
}
